.ProductList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.ProductList-Image-Container {
  overflow: hidden;
  padding: 5px;
  margin: 0 auto;
}

.ProductList-Image {
  background-size: cover;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.ProductList-Caption {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
}

.ProductList-Name {
  font-size: 20px;
}

.ProductList-Price {
  font-size: 15px;
  line-height: 5px;
}

.ProductList-Button {
  display: flex;
  flex-flow: column wrap;
}