.ProductList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.ProductList-Image-Container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  margin: 0 auto;
}

.ProductList-Image {
  background-size: cover;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.ProductList-Caption {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.ProductList-Name {
  margin: 10px 0px 5px 0px;
  font-size: 20px;
}

.ProductList-Price {
  font-size: 18px;

}

.ProductList-Button {
  text-align: center;
}