.AddToOrderButton {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  height: 35px;
  width: 60%;
  background-color: white;
  border: dotted 2px pink;
  border-radius: 5px;
}

.AddToOrderButton:hover {
  background-color: pink;
  color: white;
}