.ShopList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.ShopList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.ShopList-Image-Container {
  overflow: hidden;
  padding: 5px;
  margin-bottom: 10px;
}

.ShopList-Image {
  background-size: cover;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.ShopList-Caption {
  text-align: center;
  margin-top: 10px;
}

.ShopList-Name {
  font-size: 20px;
}

.ShopList-Name:hover {
  text-decoration: none;
}

.ShopList-City {
  font-size: 15px;
  line-height: 5px;
}