.CartList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.CartList-Image-Container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  margin: 0 auto;
}

.CartList-Image {
  background-size: cover;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.CartList-Caption {
  text-align: center;
}

.CartList-Name {
  margin: 10px 0px 5px 0px;
  font-size: 20px;
}

.CartList-Price {
  font-size: 18px;
}

.CartList-Button {
  text-align: center;
  display: block;
}