.CartList {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.CartList-Container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 25px;
}

.CartList-Image {
  background-size: cover;
  max-width: 300px;
  display: inline-block;
  margin: 0 auto;
}

.CartList-Details {
  display: inline-block;
  margin: 0 auto;
}

.CartList-Name {
  font-size: 18px;
}

.CartList-Price {
  font-size: 15px;
}