.LoginForm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.LoginForm-Button {
  font-size: 15px;
  width: 300px;
  height: 35px;
  background-color: rgb(227, 186, 244);
  border: dotted 2px white;
  border-radius: 5px;
}

.LoginForm-Button:hover {
  background-color: white;
  color: pink;
}