.UpdateOrderButton {
  font-size: 15px;
  height: 35px;
  width: 200px;
  background-color: rgb(154, 232, 244);
  border: dotted 2px white;
  border-radius: 5px;
}

.UpdateOrderButton:hover {
  background-color: white;
  color: pink;
}
