.Header {
  border-bottom: dotted 4px white;
  height: 130px;
  width: 100%;
  display: table;
}

.Header-Text {
  font-family: 'Codystar', cursive;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.Header-Text-City {
  letter-spacing: 8px;
  font-size: 70px;
}

.Header-Text-Shop {
  letter-spacing: 5px;
  font-size: 50px;
}
