.Navbar-Links {
  display: flex;
  flex-flow: row wrap;
}

.Navbar-Link {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 15px;
}

.Navbar-Link:hover {
  text-decoration: none;
}