.navbar-default {
  background-color: rgb(255, 201, 210);
  border-bottom: dotted 4px white;
  height: 70px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  height: 100%;
  padding: 0;
}

.Navbar-Logo {
  height: 100%;
}

.Navbar-Links {
  display: flex;
  flex-flow: row wrap;
}

.Navbar-Link {
  font-size: 16px;
  padding: 22px;
}

.Navbar-Link:hover {
  text-decoration: none;
}