.SignupForm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.SignupForm-Container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.SignupForm-Button {
  font-size: 15px;
  width: 300px;
  height: 35px;
  background-color: rgb(254, 162, 133);
  border: dotted 2px white;
  border-radius: 5px;
}

.SignupForm-Button:hover {
  background-color: white;
  color: pink;
}

.SignupForm-Field {
  margin: 5px 0px;
}

