.CityList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.CityList-Image-Container {
  overflow: hidden;
  padding: 5px;
  margin: 0 auto;
}

.CityList-Image {
  background-size: cover;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.CityList-Caption {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin-top: 10px;
}