body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  background-color: rgb(255, 201, 210);
  display: flex;
  align-items: center;
}

body, html {
  /*cursor: url(https://donutjs.club/img/logo.svg), pointer;*/
}

a {
  color: white;
}

a:hover{
  color: rgb(255, 124, 146);
  /*cursor: url(https://donutjs.club/img/logo.svg), pointer;*/
}

hr {
  width: 100%;
  border-top: dotted 4px white;
  margin: 0;
}